<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bundle1"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
         >
        <activity
            android:name=".MainActivity"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadingActivity"
             >

        </activity>
        <activity android:name=".Bundle1Activity"  >
        </activity>
        <activity android:name=".Bundle1Activity2">

        </activity>
        <service android:name=".Bundle1Service"></service>
        <receiver android:name=".Bundle1Receiver" android:process=":bundle1">
            <intent-filter >
                <action android:name="android.intent.action.LOCALE_CHANGED"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>