<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bundle2"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"

        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity android:name=".Bundle2Activity">

        </activity>
        <!--<activity android:name=".Bundle2Activity2">-->

        <!--</activity>-->
    </application>

</manifest>